.slide-container {
	display: none;
}

.slide-container.ativo {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.96);
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: show 0.3s ease;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.slide {
	max-width: 380px;
	z-index: 5;
	margin: 10px 20px;
	display: grid;
	box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
	position: relative;
}

.close-btn {
	display: block;
	background: none;
	border: none;
	padding: 20px;
	cursor: pointer;
}

.close-btn::after,
.close-btn::before {
	content: "";
	display: block;
	width: 34px;
	height: 3px;
	background-color: var(--secondary-200);
}

.close-btn::after {
	transform: rotate(135deg);
}
.close-btn::before {
	transform: rotate(-135deg);
	position: relative;
	top: 3px;
}

.slide-items {
	grid-area: 1/1;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.slide-nav {
	grid-area: 1/1;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
}

.slide-nav button {
	cursor: pointer;
	opacity: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slide-items > * {
	position: absolute;
	top: 0;
	opacity: 0;
	pointer-events: none;
}

.slide-items > .active {
	opacity: 1;
	position: relative;
	pointer-events: initial;
}

.slide-thumb {
	display: flex;
	grid-column: 1/3;
}

.slide-thumb > span {
	flex: 1;
	display: block;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 5px;
	border-radius: 3px;
	overflow: hidden;
}

.slide-thumb > span.active::after {
	content: "";
	display: block;
	height: inherit;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	transform: translateX(-100%);
	animation: thumb 5s forwards linear;
}

@keyframes thumb {
	to {
		transform: initial;
	}
}
